.list {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 20px 80px;
  padding: 30px 20px;
  border-radius: 20px;
  background-color: #4a6163;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.list > h3 {
  margin-bottom: 5px;
  font-size: 45px;
  color: #c3b1e1;
  border-bottom: 2px solid #c3b1e1;
}

.list > div {
  font-weight: 500;
  line-height: 1.6em;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  max-width: 400px;
}

.list__item {
  background-color: white;
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
  padding: 2.5px 12.5px;
  display: flex;
  justify-content: space-between;
}

.list__items {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.list__itemDelete {
  cursor: pointer;
  color: #8e8e93;
}

.list__itemDelete:hover {
  color: #ff6961;
}

.list__itemWatch {
  margin-left: auto;
  margin-right: 5px;
  cursor: pointer;
  max-height: 20px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.list__toWatch {
  background-color: #c1e1c1;
  color: #5b5b61;
}

.list__toWatch:hover {
  background-color: #9ada9a;
}

.list__watched {
  background-color: #ff6961;
  color: white;
}

.list__watched:hover {
  background-color: #f54c43;
}
